<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8' />
        <title>Фильм — <%= @movie.title %></title>
        <style type="text/css">
            body {
                font-size: 20px;
                font-family: Verdana;
                padding: 0% 40% 0% 40% ;
            }
        </style>
    </head>
    <body>
        <h1><%= @movie.title %></h1>
        <table>
            <tr>
                <td><strong>Название фильма:</strong></td>
                <td><%= @movie.title %></td>
            </tr>
            <tr>
                <td><strong>Режисёр:</strong></td>
                <td><%= @movie.director %></td>
            </tr>
            <tr>
                <td><strong>Год выхода:</strong></td>
                <td><%= @movie.year %></td>
            </tr>
        </table>
            <a href="/movies">Вернуться на главную</a>
        <table>
    </body>
</html>